@use 'normalizeCss';
@use 'vars';
@use 'header';
@use 'hero';
@use 'middleContent';
@use 'mainContent';
@use 'footer';

// .oxygen-light {
//     font-family: "Oxygen", serif;
//     font-weight: 300;
//     font-style: normal;
//   }
  
//   .oxygen-regular {
//     font-family: "Oxygen", serif;
//     font-weight: 400;
//     font-style: normal;
//   }
  
//   .oxygen-bold {
//     font-family: "Oxygen", serif;
//     font-weight: 700;
//     font-style: normal;
//   }
  


html{
    font-family: "Oxygen", serif;
    font-weight: 400;
}

.maxWidth{
    // max-width: 1024px;
    max-width: 70.25em;
    width: 100%;
    margin: 0 auto;
}

h1,h2,h3,h4{
    font-family: "Oxygen", serif;
    font-weight: 700;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col{
    flex: 1 0 auto;
    width: 100%;
}

.col-sm-12{
    width: 100%;
}










